<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>List Of Conversations</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <!-- Button to navigate to index page -->
    <a th:href="@{/index}" class="btn btn-success">
        <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Back to home
    </a>
</div>
<div>
    <div class="container text-center">
        <form th:action="@{/logout}" method="post">
            <p>
                Welcome <b><span th:text="${user.firstName}">User</span></b>
            </p>
            <input type="submit" value="Sign Out" class="btn btn-danger" />
        </form>
    </div>

    <div sec:authorize="hasAuthority('ROLE_ADMIN')">Text visible to admin.
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>List of Conversations</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="id : ${listConversations}">
                <td> <a th:text="${id}" th:href="@{/admin_conversation/{conversationId}(conversationId=${id})}">
                </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <div sec:authorize="!hasAuthority('ROLE_ADMIN')">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>List of Conversations</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="id : ${listConversations}">
                <td> <a th:text="${id}" th:href="@{/conversation/{conversationId}(conversationId=${id})}">
                </a>
            </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container text-center">
        <div>
            <!-- Button to navigate to conversation page -->

            <a th:href="@{/conversation}" class="btn btn-success">
                Create a new Conversation
            </a>
        </div>
    </div>


</div>

</body>
</html>